<h1 class="edit-title">Editing Book</h1>

<% if @book.errors.any? %>
   <%= @book.errors.count %>errors prohibited this book from being saved:
   <% @book.errors.full_messages.each do |message| %>
   <%= message %>
   <% end %>
   <% end %>

<%= form_with model:@book, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>
<h4>Body</h4>
<%= f.text_area :body %>
<div class="update-button"></div>
<%= f.submit "Update Book" %>

<div class="edit-item">
<span class="space1"><%= link_to "Show", book_path(@book) %></span>
<p> | </p>
<span class="space2"><%= link_to "Back", "/books" %></span>
</div>

<% end %>